.banner {
  background: url("image/honey.png") 
  no-repeat center center;
  background-size: cover ;
  padding-top: 20%;
  padding-bottom: 20%;
  color:#fff;
}

.lingkaran {
  width: 120px;          /* ukuran lingkaran */
  height: 120px;
  border-radius: 50%;    /* bikin lingkaran */
  background: linear-gradient(135deg, #0066ff, #0033cc);
  display: flex;         /* biar isi lingkaran rapi */
  justify-content: center;
  align-items: center;
  margin: 0 auto;        /* posisi lingkaran ke tengah */
  color: white;
}

.foto-separator {
  margin: 40px 0; /* kasih jarak atas-bawah */
}

.foto-separator img {
  max-width: 100%;
  border-radius: 10px; /* sudut agak melengkung */
}


.sambutan {
  display: flex;
  align-items: center;
  gap: 30px;
  margin-top: 50px;
}

.sambutan .foto {
  flex: 1;
}

.sambutan .foto img {
  width: 100%;
  max-width: 300px;
  border-radius: 15px;
  background: #0033cc; /* biru */
  padding: 20px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
}

.sambutan .teks {
  flex: 2;
  text-align: left;
}

.sambutan .teks h3 {
  font-weight: bold;
}

.sambutan .judul {
  font-size: 20px;
  font-weight: bold;
}
.sambutan .judul span {
  color: #0d6efd;
}

.card {
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover {
  transform: translateY(-8px);
  box-shadow: 0 8px 20px rgba(0,0,0,0.2);
}

.card:active {
  transform: scale(0.97);
  box-shadow: 0 4px 12px rgba(0,0,0,0.2);
}


/* kasih jarak antar card */
.layanan .row {
  row-gap: 40px;   /* jarak vertikal antar baris */
  column-gap: 20px; /* jarak horizontal antar kolom */
}

.card-stat {
  background: linear-gradient(135deg, #0d6efd, #0033cc); /* biru gradasi */
  color: white; 
  border-radius: 10px;
  margin: 5px; /* kasih jarak antar kotak */
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card-stat i {
  font-size: 2rem;
  color: #fff; /* ikon jadi putih */
}

.card-stat:hover {
  transform: translateY(-6px);
  box-shadow: 0 8px 18px rgba(0, 0, 0, 0.25);
}



